* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fdf0d5ff;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    background-color: #003049ff;
    color: #fdf0d5ff;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    letter-spacing: 3px;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --molten-lava: #780000ff;
--brick-red: #c1121fff;
--papaya-whip: #fdf0d5ff;
--deep-space-blue: #003049ff;
--steel-blue: #669bbcff; */